$primary_blue: #5B7CFD;
$white: #FFFFFF;
$black: #2b2b2b;
$primary_green: #33CC86;
$primary_red: #FF7F57;
$primary_yellow_1: #FFAE33;
$primary_yellow_2: #FFCF27;
$primary_yellow_3: #F1E8C1;
$primary_purple: #E2A7f1;
$primary_active_blue: #4B68DB;
$hover-blue: #3F5BC6;
$hover-white: #F3F3F3;
$disabled: #DDDDDD;

$light_blue_1: #DEE5FF;
$light_sea_green: #CDF5F4;
$light_red: #FFE5DD;
$light_blue_2: #D8E0FE;
$light_purple: #CA2CBE;

$neutral_black: #232D42;
$neutral_grey_1: #8A92A6;
$neutral_grey_2: #737B8B;
$neutral_grey_3: #E7EEF7;
$neutral_grey_4: #E3E5E8;
$neutral_grey_5: #929292;

